<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="adas" class="com.neuedu.service.adas">
        <!--<property name="id" value="3"></property>-->
        <constructor-arg name="id" value="12" ></constructor-arg>
        <constructor-arg name="name" value="12" ></constructor-arg>

    </bean>
</beans>